
.form_container{
    padding: 2% 1%;
    position:absolute;
    width:50%;
    height:50%;
    left:25%;
    top:20%;
    background-color: #8ef99b;
    box-shadow: 0 5px 17px 0;
}

#course{
    width:85%;
}
