
.form_container{
    padding: 2% 1%;
    position:absolute;
    width:50%;
    height:50%;
    left:25%;
    top:20%;
    background-color: #8ef99b;
    box-shadow: 0 5px 17px 0;
}

#course{
    width:90%;
}


.search_table td{
    border: 1px solid gray;
    font-size: 15px;
    padding: 1% 1%;
}

.search_table th{
    background-color:black;
    padding: 1% 1%;
    color:white;
}



.search_table tr:nth-child(even){background-color: #e4e1e1;}

.search_table tr:hover {background-color: #868585;}
