{% extends 'layout.html' %}

{% block body %}

<div class="form_container" style="">
    <form method="POST">
        {{form.hidden_tag()}}

        {{ form.firstname(placeholder = "ID first") }}{% if form.firstname.errors %}
        {% for error in form.firstname.errors %}{{ error }}{% endfor %}{% endif %}<br>

        {{ form.middlename(placeholder = "ID middle") }} {% if form.middlename.errors %}
        {% for error in form.middlename.errors %} {{ error }} {% endfor %} {% endif %}<br>

        {{ form.lastname(placeholder = "ID lastname") }} {% if form.lastname.errors %}
        {% for error in form.lastname.errors %} {{ error }} {% endfor %} {% endif %}<br>

        {{ form.gender }}
        <br>
        {{ form.course }}

        <br>
        {{form.submit}}
    </form>

</div>



{% endblock %}
